branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/exec"
    - prepareCmd: "echo ${nextRelease.version} > VERSION"
    - publishCmd: "mix hex.publish --yes"
